NODE_ENV=development
PORT=5001
MONGODB_URI=mongodb://localhost:27017/skillbarter
CLIENT_URL=http://localhost:5173
JWT_SECRET=super-secret-key
JWT_EXPIRES_IN=7d
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
ENABLE_REQUEST_LOGS=false
